.lzbot.env
.DS_Store
25195066session_name.session
__pycache__
__pycache__/*.*
*.pyc
__pycache__/lz_db.cpython-312.pyc
__pycache__/lz_memory_cache.cpython-312.pyc
__pycache__/lz_mysql.cpython-312.pyc
__pycache__/lz_memory_cache.cpython-312.pyc
__pycache__/lz_var.cpython-312.pyc
__pycache__/lz_db.cpython-312.pyc
venv/*
.lzbot_test.env
.ananbot.env
*.env
*.session
ranking_resource.html
ranking_uploader.html
skins.json
jieba_userdict.txt
search_stopwords.txt
search_synonyms.txt
