aiogram==3.20.0.post0
asyncpg>=0.29
python-dotenv>=1.0
pycryptodome>=3.19.0
aiomysql>=0.0.23
aiofiles
telethon==1.38.0
redis >= 4.2
# 中文分词
jieba>=0.42.1
opencc-python-reimplemented==0.1.7

#image
numpy==1.26.4
opencv-python==4.10.0.84
invisible-watermark==0.2.0
Pillow==10.3.0




